# Dependencies
node_modules

# Compiled
build
dist

# Environment variables
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Random crap
trash
temp
tmp
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
*~

# Visual Studio Code
.vscode
.history

# Screenshots files
src/assets/screenshots/*.png
src/assets/screenshots/*.jpg
src/assets/screenshots/*.jpeg

# Screensavers files
src/assets/screensavers/*.png
!src/assets/screensavers/basic_screensaver.png
src/assets/screensavers/*.jpg
src/assets/screensavers/*.jpeg
